body,html,h1,h2,h3,h4,h5,h6{
    font-family: Vazir !important;
}
.content p,.content aside, h1,h2,h3,h4,h5,h6,
.tocify-wrapper .tocify-item>a,.tocify-wrapper .toc-footer li,
 .tocify-wrapper .toc-footer a,
 .content table, .content table td,
 .content table th{
    direction: rtl ;text-align: right;
}
.content code, .content p code{
    direction: ltr;text-align: left;
}
.content table{
    overflow: inherit;
}
.content p{
    line-height: 2em;
}